In [2]:
import pandas as pd

In [4]:
data_train = pd.read_csv('data_train.tsv.txt', delimiter='\t', header=None)
data_train = data_train.rename (columns = {0: 'texts', 1: 'labels'})

In [5]:
data_train.head()

                                               texts    labels
0  warung ini dimiliki oleh pengusaha pabrik tahu...  positive
1  mohon ulama lurus dan k212 mmbri hujjah partai...   neutral
2  lokasi strategis di jalan sumatera bandung . t...  positive
3  betapa bahagia nya diri ini saat unboxing pake...  positive
4  duh . jadi mahasiswa jangan sombong dong . kas...  negative

In [6]:
data_train.tail()

                                                   texts    labels
10995                                       tidak kecewa  positive
10996  enak rasa masakan nya apalagi kepiting yang me...  positive
10997        hormati partai-partai yang telah berkoalisi   neutral
10998  pagi pagi di tol pasteur sudah macet parah , b...  negative
10999  meskipun sering belanja ke yogya di riau junct...  positive

In [10]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000 entries, 0 to 10999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   texts   11000 non-null  object
 1   labels  11000 non-null  object
dtypes: object(2)
memory usage: 172.0+ KB

In [8]:
data_train.isna().sum()

texts     0
labels    0
dtype: int64

In [14]:
data_train.duplicated().sum()

67

In [12]:
data_train.labels.value_counts()

positive    6416
negative    3436
neutral     1148
Name: labels, dtype: int64